{% extends 'base.html' %}
{% block title %}
Position no. {{ positions[random].position +1 }} - Chess960 position generator
{% endblock %}

{% block sub_content %}


<table style="width:100%">
  <tr>
    <td>
     <h1><a
                        href="position/{{ positions[random].position }} ">{{ positions[random].name }}</a></h1>
     <br>
     <p>FEN:</p>
     <div id="divClipboard" style="background-color:#ebeced; max-width:350px; padding:5px; text-align:center; float:left;">{{ positions[random].fen }}</div><button style="float:left;margin-left:2px" class="btn btn-info btn-sm" onclick="copyClipboard()">Copy FEN</button>
        <br>
        <br>

        <br>
 <button type="button" class="btn btn-success"><a style="color:white" href="/random"> Random new position </a></button>
    </td>
    <td>
    <img src="/static/images/{{ positions[random].img }}" alt="Related Book 1" width="300px" height="300px">
    </td>
  </tr>
</table>

<script>
function copyClipboard() {
  var elm = document.getElementById("divClipboard");
  // for Internet Explorer

  if(document.body.createTextRange) {
    var range = document.body.createTextRange();
    range.moveToElementText(elm);
    range.select();
    document.execCommand("Copy");

  }
  else if(window.getSelection) {
    // other browsers

    var selection = window.getSelection();
    var range = document.createRange();
    range.selectNodeContents(elm);
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand("Copy");

  }
}
</script>
{% endblock %}